<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287844693934-o2p8agrhh290o6ga8rkr1tl204cfgkvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287844693934-o2p8agrhh290o6ga8rkr1tl204cfgkvk</string>
	<key>API_KEY</key>
	<string>AIzaSyCgVIW4_CxbKvfdSslJ9ktyT_-Ak8JdiL8</string>
	<key>GCM_SENDER_ID</key>
	<string>287844693934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizzoxo</string>
	<key>PROJECT_ID</key>
	<string>quizz-app-ff8ef</string>
	<key>STORAGE_BUCKET</key>
	<string>quizz-app-ff8ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287844693934:ios:951cd8657563376f857a3f</string>
</dict>
</plist>